{% extends "_master.html" %}

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% from "macros/renderDownloadList.html" import renderDownloadList %}

{% block pageContent %}
    <div class="page__container container">
        {% include "partials/breadcrumbs.html" %}

        {% set downloadAssets = entry.featuredDownloads %}
        {% for asset in assets %}
            {% set isRelated = false %}
            {% for category in asset.assetCategories %}
                {% if category in entry.downloadCategories or category.parent in entry.downloadCategories %}
                    {% set isRelated = true %}
                {% endif %}
            {% endfor %}
            {% if isRelated and asset.showOnDownloadsResources and not asset in downloadAssets %}
                {% set downloadAssets = (downloadAssets.push(asset), downloadAssets) %}
            {% endif %}
        {% endfor %}

        <div class="grid u-mt-s">

            <div class="grid__col col-12@m">

                <main class="page__main u-mt-no" id="main-content" role="main">

                    <h1 class="u-mb-l u-fs-xxl">{{ entry.title }}</h1>

                    <div class="col-8@m u-mb-l">
                        {{ entry.body|safe }}
                    </div>

                    <div class="js-adv-filter">

                        <div class="grid grid--column@xxs@s u-mb-m@m">

                            <div class="grid__col col-4@m">

                                {{
                                    onsButton({
                                        "type": "button",
                                        "text": "Show Filters"|localize,
                                        "classes": "adv-filter__trigger js-adv-filter__trigger btn btn--secondary btn--small u-mb-m",
                                        "attributes": {
                                            "aria-label": "Show Filters"|localize,
                                            "aria-expanded": "false",
                                            "aria-controls": "filter-panel"
                                        }
                                    })
                                }}

                                <!-- Filter panel -->
                                <div class="adv-filter__panel js-adv-filter__panel" id="filter-panel">

                                    <h2 class="u-fs-l">{{ "Filters"|localize }}</h2>

                                    <form class="js-adv-filter__form" method="POST">

                                        <!-- Reset all filters -->
                                        <button class="adv-filter__reset js-adv-filter__reset btn btn--secondary btn--small" type="reset">
                                            <span class="btn__inner">{{ "Reset all filters"|localize }}</span>
                                        </button>

                                        <!-- Filter item -->
                                        {% for filter in entry.downloadCategories %}
                                            <div class="adv-filter__item js-adv-filter__item" data-default-text="{{ filter.pluralisedTitle }}" data-multi-select-text="{{ '{n} filters selected'|localize }}">
                                                <fieldset class="fieldset" aria-controls="adv-filter-gallery">
                                                    <legend class="fieldset__legend">{{ filter.title }}</legend>
                                                    
                                                    <div class="adv-filter__selection">
                                                        <span class="u-vh">{{ "Active filters"|localize }}</span>
                                                        <span class="u-fs-s js-adv-filter__selection">{{ filter.pluralisedTitle }}</span>
                                                    </div>
                                                    
                                                    {% if filter.children|length > 0 %}
                                                        {% set checkboxOpts = [] %}
                                                        {% for option in filter.children %}
                                                            {% set checkboxOpts = (checkboxOpts.push({
                                                                "classes": "checkbox--toggle",
                                                                "id": option.slug,
                                                                "label": {
                                                                    "text": option.title
                                                                },
                                                                "value": option.slug,
                                                                "attributes": {
                                                                    "data-filter": option.slug
                                                                }
                                                            }), checkboxOpts) %}
                                                        {% endfor %}
                                                        
                                                        {{
                                                            onsCheckboxes({
                                                                "dontWrap": "true",
                                                                "legend": filter.title,
                                                                "name": filter.slug,
                                                                "checkboxes": checkboxOpts
                                                            })
                                                        }}
                                                    {% endif %}
                                                </fieldset>
                                            </div>
                                        {% endfor %}

                                        <!-- Filter actions -->
                                        <div class="adv-filter__actions">
                                            {{
                                                onsButton({
                                                    "type": "button",
                                                    "html": "Show ({n} results)"|localize
                                                        |replace("{n}", '<span class="js-adv-filter__show-results"></span>')
                                                        |safe,
                                                    "classes": "btn btn--small js-adv-filter__show"
                                                })
                                            }}

                                            {{ 
                                                onsButton({
                                                    "type": "button",
                                                    "text": "Close"|localize,
                                                    "classes": "btn--small btn--secondary js-adv-filter__close"
                                                }) 
                                            }}
                                        </div>

                                    </form>

                                </div>

                            </div>

                            <div class="grid__col col-8@m">
                                
                                <div class="adv-filter__results-options">

                                    <!-- Result count -->
                                    <div class="adv-filter__results-count">
                                        <span class="js-adv-filter__results-count"></span>
                                        {{ " results of {totalResults}"|localize|replace("{totalResults}", downloadAssets|length) }}
                                    </div>

                                    <!-- Sort by -->
                                    <div class="adv-filter__results-sort">
                                        <label class="label" for="sort">{{ "Sort by"|localize }}</label>
                                        <select class="input input--select" id="sort" name="sort" aria-controls="adv-filter-gallery" data-sort="true">
                                            <option value="index" data-sort-number="true">{{ "Latest"|localize }}</option>
                                            <option value="index" data-sort-order="desc" data-sort-number="true">{{ "Oldest"|localize }}</option>
                                        </select>
                                    </div>

                                </div>

                                <!-- Results -->
                                <ul class="adv-filter__gallery js-adv-filter__gallery" id="adv-filter-gallery" data-filter-animation="off">

                                    <!-- Item -->
                                    {% for asset in downloadAssets %}
                                        {% set assetCategoriesSpaceDelimited = "" %}
                                        {% for category in asset.assetCategories %}
                                            {% set assetCategoriesSpaceDelimited = assetCategoriesSpaceDelimited + " " + category.slug %}
                                        {% endfor %}

                                        <li class="filter__item js-filter__item" data-filter="{{ assetCategoriesSpaceDelimited|trim }}" data-sort-index="{{ loop.index }}">
                                            {{
                                                renderDownloadList([ asset ], cdnURL)
                                            }}
                                        </li>
                                    {% endfor %}

                                </ul>

                                <!-- No results -->
                                <div class="adv-filter__no-results" data-fallback-gallery-id="adv-filter-gallery">
                                    <h2>{{ "No results found"|localize }}</h2>
                                    <p>{{ "There are no results found due to your filters setup"|localize }}</p>
                                </div>
                        
                            </div>

                        </div>

                    </div>

                </main>

            </div>

        </div>

    </div>
{% endblock %}
