{% extends "_master.html" %}
s
{% from "components/related-links/_macro.njk" import onsRelatedLinks %}

{% from "macros/pageContentField.html" import pageContentField with context %}

{% block pageContent %}
    <div class="page__container container">
        {% include "partials/breadcrumbs.html" %}

        <div class="grid u-mt-s">
            <div class="grid__col col-7@m">
                <main id="main-content" role="main" class="page__main u-mt-no">
                    <h1 class="u-mb-l u-fs-xxl">{{ entry.title }}</h1>
                    <section class="page__body">
                        {{ entry.body|safe }}

                        {{ pageContentField(entry.pageContent) }}
                    </section>
                </main>
            </div>  
            <div class="grid__col col-4@m push-1@m u-mt-m">
                {{-
                    onsRelatedLinks({
                        "id": "related-list-block",
                        "title": "Related content"|localize,
                        "itemsList": entry.relatedLinks
                    }) 
                }}
            </div>
        </div>
    </div>
{% endblock %}
