{% extends "_master.html" %}

{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/related-links/_macro.njk" import onsRelatedLinks %}

{% from "macros/pageContentField.html" import pageContentField with context %}

{% block pageContent %}
    <div class="page__container container">
        {% include "partials/breadcrumbs.html" %}

        <div class="grid u-mt-s">
            <div class="grid__col col-7@m">
                <main id="main-content" role="main" class="page__main u-mt-no">
                    <h1 class="u-mb-l u-fs-xxl">{% if global.questionNumber %}{{ global.questionNumber }}. {% endif %}{{ entry.title }}</h1>

                    {% if global.guidancePanel[entry.surveyType] %}
                        {% call onsPanel({ "classes": "u-mb-l", "type": "branded" }) %}
                            <p>
                                {% set equivalentSurveyType = "paper" if entry.surveyType === "online" else "online" %}
                                {{ global.guidancePanel[equivalentSurveyType].guidancePanelText|safe }}
                                <a href="{{ entry.linkToEquivalentGuidance.url }}">{{ global.guidancePanel[equivalentSurveyType].guidancePanelLinkText }}</a>.
                            </p>
                        {% endcall %}                        
                    {% endif %}

                    <section class="page__body">
                        {% if entry.whyWeAskThisQuestion %}
                            {{
                                onsCollapsible({
                                    "id": "details",
                                    "classes": "u-mb-s",
                                    "title": global.strings.whyWeAskThis,
                                    "content": entry.whyWeAskThisQuestion|safe,
                                    "summaryAttributes": {
                                        "data-ga-category": "Why we ask this question",
                                        "data-ga-label": contentBlock.definition.title
                                    },
                                    "button": {
                                        "close": global.strings.hideThis
                                    }
                                })
                            }}
                        {% endif %}

                        {{ entry.body|safe }}

                        {{ pageContentField(entry.pageContent, cdnURL) }}
                    </section>
                </main>
            </div>

            <div class="grid__col col-4@m push-1@m u-mt-m">
                {{-
                    onsRelatedLinks({
                        "id": "related-list-block",
                        "title": "Related content"|localize,
                        "itemsList": entry.relatedLinks
                    }) 
                }}
            </div>
        </div>
    </div>
{% endblock %}
