{% extends "_master.html" %}

{% from "components/card/_macro.njk" import onsCard %}

{% block pageContent %}
    {% include "partials/globalCta.html" %}

    <div class="page__container container">
        {% include "partials/breadcrumbs.html" %}

        <div class="grid u-mt-s">
            <div class="grid__col col-12@m">
                <main id="main-content" role="main" class="page__main u-mt-no">
                    <h1 class="u-mb-l u-fs-xxl">{{ entry.title }}</h1>

                    <div class="col-8@m u-mb-l">
                        {{ entry.body|safe }}
                    </div>

                    {% for highlight in highlights %}
                        {% if loop.index % 3 == 1 %}
                            <div class="grid grid--column@xs@s u-mb-m@m">
                        {% endif %}

                        <div class="grid__col col-4@m">
                            {{-
                                onsCard({
                                    "ariaBy": "Section highlight",
                                    "id": highlight.id,
                                    "textId": highlight.textId,
                                    "title": highlight.title,
                                    "url": highlight.url,
                                    "text": highlight.text,
                                    "itemsList": highlight.itemsList,
                                    "attributes": {
                                        "data-ga-element": "card"
                                    }
                                })
                            }}
                        </div>

                        {% if loop.index % 3 == 0 or loop.last %}
                            </div>
                        {% endif %}

                        {% if highlight.includeRequestCode %}
                            <hr>
                            <div class="grid grid--gutterless">
                                <div class="grid__col col-8@m">
                                    <h2 class="u-fs-r--b u-mt-l u-mb-xs">{{ requestCode.title }}</h2>
                                    {{ requestCode.text|safe }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </main>
            </div>
        </div>
    </div>
{% endblock %}
