{% extends "_master.html" %}

{% from "components/content-pagination/_macro.njk" import onsContentPagination %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/share/_macro.njk" import onsSharePage %}

{% from "macros/pageContentField.html" import pageContentField with context %}

{% block pageContent %}
    <div class="container">
        {% include "partials/breadcrumbs.html" %}
    </div>

    <main class="page__main u-mt-xs u-mt-m@m" id="main-content" role="main">
        <div class="container">
            <h1 class="u-fs-xxl">
                {% if entry.newsCategories[0] %}
                    <span class="u-fs-m u-db u-mb-xs u-lighter">{{ entry.newsCategories[0].text }}</span>
                    <span class="u-vh">: </span>
                {% endif %}
                <span class="u-fs-xxl u-db">{{ entry.title }}</span>
            </h1>

            <div class="grid grid--column@xxs@s">
                <div class="grid__col col-7@m">
                    <div class="page__body u-mt-m">
                        {% if entry.smallThumbnail.url %}
                            <figure class="u-m-no u-mb-l">
                                <img
                                    srcset="{{ entry.smallThumbnail.url }} 1x, {{ entry.largeThumbnail.url }} 2x"
                                    src="{{ entry.smallThumbnail.url }}"
                                    alt="{{ entry.thumbnail.altText if entry.thumbnail.altText else entry.thumbnail.title }}"
                                />
                            </figure>
                        {% endif %}

                        {{ pageContentField(entry.pageContent, cdnURL) }}

                        <div class="u-mt-l u-mt-xl@m">
                            {% set paginationItems = [] %}

                            {% if entry.prev %}
                                {% set paginationItems = (paginationItems.push({
                                    "rel": "prev",
                                    "url": entry.prev.url,
                                    "text": "Previous"|localize,
                                    "label": entry.prev.title
                                }), paginationItems) %}
                            {% endif %}

                            {% if entry.next %}
                                {% set paginationItems = (paginationItems.push({
                                    "rel": "next",
                                    "url": entry.next.url,
                                    "text": "Next"|localize,
                                    "label": entry.next.title
                                }), paginationItems) %}
                            {% endif %}

                            {{-
                                onsContentPagination({
                                    "contentPaginationItems": paginationItems
                                })
                            }}
                        </div>
                    </div>
                </div>
                <div class="grid__col col-4@m push-1@m">
                    <aside class="related-content" aria-label="Related content">
                        <div class="related-content__body">
                            <div class="related-content__section">
                                <h2 class="related-content__title u-fs-r--b u-mb-xs">{{ "Published on"|localize }}</h2>
                                <p><time datetime="{{published}}">{{ entry.postDate|date("DD MMMM YYYY", site) }}</time></p>
                            </div>

                            <div class="related-content__section">
                                <h2 class="related-content__title u-fs-r--b u-mb-xs">{{ "Published in"|localize }}</h2>
                                <nav aria-labelledby="related-links-posted-in">
                                    {{
                                        onsList({
                                            "classes": "list--bare",
                                            "itemsList": entry.newsCategories
                                        })
                                    }}
                                </nav>
                            </div>

                            <div class="related-content__section">
                                <h2 class="related-content__title u-fs-r--b u-mb-xs">{{ "Tags"|localize }}</h2>
                                <nav aria-labelledby="related-links-tags">
                                    {{
                                        onsList({
                                            "classes": "list--bare",
                                            "itemsList": entry.newsTags
                                        })
                                    }}
                                </nav>
                            </div>

                            <div class="related-content__section">
                                {{
                                    onsSharePage({
                                        "title": "Share this post"|localize,
                                        "pageTitle": title,
                                        "pageURL": entry.url,
                                        "facebook": true,
                                        "twitter": true
                                    })
                                }}
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
