{% extends "_master.html" %}

{% from "components/related-links/_macro.njk" import onsRelatedLinks %}
{% from "components/articles/_macro.njk" import onsArticles %}

{% from "macros/socialAccountList.njk" import socialAccountList %}

{% block pageContent %}
    <div class="page__container">

        <div class="container">
            {% include "partials/breadcrumbs.html" %}
        </div>

        <main class="page__main" id="main-content" role="main">

            <div class="container">

                <h1 class="u-mb-s u-mb-l@m u-fs-xxl">{{ entry.title }}</h1>

                {{ entry.summary|safe }}
    
                <h2 class="u-mt-s u-mt-l@m u-mb-s u-mb-l@m u-fs-xl">{{ entry.subTitle }}</h2>

                <div class="grid u-mt-s">

                    <div class="grid__col col-7@m u-pt-s">

                        {% set remappedArticles = [] %}
                        {% for article in entry.articles %}
                            {% set remappedArticles = (remappedArticles.push({
                                "url": article.url,
                                "title": article.title,
                                "excerpt": article.newsSummary,
                                "date": {
                                    "short": article.postDate|date("DD MMMM YYYY", site),
                                    "iso": article.postDate
                                },
                                "image": {
                                    "smallSrc": article.thumbnail.transforms.smallSrc,
                                    "largeSrc": article.thumbnail.transforms.largeSrc,
                                    "filename": article.thumbnail.transforms.filename,
                                    "alt": article.title
                                },
                                "placeholderURL": cdnURL
                            }), remappedArticles) %}
                        {% endfor %}

                        {{
                            onsArticles({
                                "articles": remappedArticles
                            })
                        }}

                    </div>

                    <div class="grid__col col-4@m push-1@m u-mt-m">
                        <div class="u-pb-s u-bb">
                            {{-
                                onsRelatedLinks({
                                    "id": "related-links",
                                    "title": "Categories"|localize,
                                    "itemsList": newsCategories
                                })
                            }}
                        </div>

                        <div class="u-pt-m u-pb-s u-bb">
                            <h2 class="u-fs-r--b u-mb-xs">{{ "Media enquiries"|localize }}</h2>
                            {{ global.mediaEnquiries|safe }}
                        </div>

                        <div class="u-pt-m">
                            <h2 class="u-fs-r--b u-mb-xs">{{ "Follow us"|localize }}</h2>
                            {{ socialAccountList(global) }}
                        </div>

                    </div>
                
                </div>

            </div>

        </main>

    </div>
{% endblock %}
