{% extends "_master.html" %}

{% from "components/related-links/_macro.njk" import onsRelatedLinks %}
{% from "components/articles/_macro.njk" import onsArticles %}

{% from "macros/socialAccountList.html" import socialAccountList %}

{% block pageContent %}
    <div class="page__container">

        <div class="container">
            {% include "partials/breadcrumbs.html" %}
        </div>

        <main class="page__main u-mt-xs u-mt-m@m" id="main-content" role="main">

            <div class="container">

                <h1 class="u-fs-xxl">
                    {% if entry.newsType === "tag" %}
                        {{ "All posts for {term}"|localize|replace("{term}", entry.subTitle) }}
                    {% else %}
                        {{ entry.subTitle }}
                    {% endif %}
                </h1>

                <div class="grid grid--column@xs@s">

                    <div class="grid__col col-7@m">
                        <div class="u-mt-m u-mb-m">
                            {% set remappedArticles = [] %}
                            {% for article in entry.articles %}
                                {% set remappedArticles = (remappedArticles.push({
                                    "url": article.url,
                                    "title": article.title,
                                    "excerpt": article.newsSummary,
                                    "date": {
                                        "short": article.postDate|date("DD MMMM YYYY", site),
                                        "iso": article.postDate
                                    },
                                    "category": {
                                        "title": article.newsCategories[0].text,
                                        "url": article.newsCategories[0].url
                                    },
                                    "image": {
                                        "smallSrc": article.smallThumbnail.url,
                                        "largeSrc": article.largeThumbnail.url,
                                        "alt": article.title
                                    },
                                    "placeholderURL": cdnURL
                                }), remappedArticles) %}
                            {% endfor %}

                            {{
                                onsArticles({
                                    "articles": remappedArticles
                                })
                            }}
                        </div>
                    </div>

                    <div class="grid__col col-4@m push-1@m">
                        <div class="u-bb">
                            {{-
                                onsRelatedLinks({
                                    "id": "related-links",
                                    "title": "Categories"|localize,
                                    "itemsList": newsCategories
                                })
                            }}
                        </div>

                        <div class="u-pt-m u-pb-s u-bb">
                            <h2 class="u-fs-r--b u-mb-xs">{{ "Media enquiries"|localize }}</h2>
                            {{ global.mediaEnquiries|safe }}
                        </div>

                        <div class="u-pt-m">
                            <h2 class="u-fs-r--b u-mb-xs">{{ "Follow us"|localize }}</h2>
                            {{ socialAccountList(global) }}
                        </div>

                    </div>
                
                </div>

            </div>

        </main>

    </div>
{% endblock %}
