{% from "components/related-content/_macro.njk" import onsRelatedContent %}

{% set relatedContentRows = [] %}

{% if entry.relatedLinks and entry.relatedLinks|length > 0 %}
    {% set relatedContentRows = (relatedContentRows.push({
        "id": "related-content",
        "title": "Related content"|localize,
        "itemsList": entry.relatedLinks
    }), relatedContentRows) %}
{% endif %}

{% if entry.relatedHelpLinks and entry.relatedHelpLinks|length > 0 %}
    {% set relatedContentRows = (relatedContentRows.push({
        "id": "related-help-with-the-census",
        "title": "Help with the census"|localize,
        "itemsList": entry.relatedHelpLinks
    }), relatedContentRows) %}
{% endif %}

{% if relatedContentRows|length > 0 %}
    {{
        onsRelatedContent({
            "ariaLabel": "Related links to help with the census",
            "rows": relatedContentRows
        })
    }}
{% endif %}
