{% from "components/hero/_macro.njk" import onsHero %}

{% set hero = {
    censusTheme: true,
    censusThemeDark: true,
    title: block.heading,
    subtitle: block.subHeading,
    text: block.text,
    image: {
        smallSrc: block.smallImage.url|baseUrl,
        largeSrc: block.largeImage.url|baseUrl,
        filename: block.smallImage.url|filenameFromUrl
    }
    
} %}

{% if block.buttonUrl and block.buttonText %}
    {% set hero = hero|setProperty("button", {
        "url": block.buttonUrl,
        "text": block.buttonText
    }) %}
{% endif %}

{{ 
    onsHero(hero)
}}
