{% from "components/hero/_macro.njk" import onsHero %}

{% set hero = {
    "censusTheme": true,
    "censusThemeDark": block.theme === "dark",
    "placeholderURL": cdnURL,
    "title": block.heading,
    "subtitle": block.subHeading,
    "text": block.text,
    "image": {
        "smallSrc": block.smallImage.url,
        "largeSrc": block.largeImage.url
    }
} %}

{% if block.preTitleImage %}
    {% set hero = hero|setProperty("preTitleImage", {
        "name": block.preTitleImage,
        "alt": block.preTitleAlt
    }) %}
{% endif %}

{% if block.buttonText and block.buttonUrl %}
    {% set hero = hero|setProperty("button", {
        "url": block.buttonUrl,
        "text": block.buttonText
    }) %}
{% endif %}

{% if block.collapsableTitle and block.collapsableContent %}
    {% set hero = hero|setProperty("collapsible", {
        "classes": "u-mt-m",
        "id": "collapsible",
        "title": block.collapsableTitle,
        "titleTag": "h2",
        "content": block.collapsableContent,
        "closeButtonText": "Hide this"|localize,
        "closeButtonContextSuffix": "content"
    }) %}
{% endif %}

{{ 
    onsHero(hero)
}}
