{% from "components/card/_macro.njk" import onsCard %}

{% from "macros/pageContentField.html" import pageContentField with context %}

<div class="page__container container u-mt-l">
    <section>
        <h2 class="u-fs-xl u-mb-l">{{ block.sectionTitle }}</h2>

        <div class="grid grid--column@xxs@s u-mb-xl">
            <div class="grid__col col-7@m u-pr-l@m">
                {% if block.leftHeading %}
                    <h3 class="u-mb-s">{{ block.leftHeading }}</h3>
                {% endif %}

                {{ pageContentField(block.leftSnippet.pageContent, cdnURL) }}

                {% if block.leftEntries|length > 0 %}
                    <ul class="list list--bare">
                        {% for item in block.leftEntries %}
                            <li class="list__item u-mb-s">
                                <a class="u-fs-r--b" href="{{ item.entry.url }}">{{ item.linkTextOverride if item.linkTextOverride else item.title }}</a>
                                {% if item.text %}
                                    <br>
                                    {{ item.text }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if block.leftCtaLink.url %}
                    <a href="{{ block.leftCtaLink.url }}">{{ block.leftCtaText }}</a>
                {% endif %}
            </div>
            <div class="grid__col col-5@m u-bl@m u-pl-m@m">
                <div class="u-bt@xxs@m u-mt-m@xxs@m u-pt-m@xxs@m">
                    {% if block.rightHeading %}
                        <h3 class="u-mb-s">{{ block.rightHeading }}</h3>
                    {% endif %}

                    {% if block.rightEntries|length > 0 %}
                        <ul class="list list--bare">
                            {% for item in block.rightEntries %}
                                <li class="list__item u-mb-s">
                                    <a class="u-fs-r--b" href="{{ item.entry.url }}">{{ item.linkTextOverride if item.linkTextOverride else item.entry.title }}</a>
                                    {% if item.text %}
                                        <br>
                                        <p class="u-mt-xs">
                                            {{ item.text }}
                                        </p>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if block.rightCtaLink %}
                        <p class="u-mb-no">
                            <a href="{{ block.rightCtaLink }}">{{ block.rightCtaText }}</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>
