{% macro flexibleLayoutField(flexibleLayout, cdnURL) %}

    {% set footerBorder = false %}

    {% for flexibleLayoutBlock in flexibleLayout %}
        {% set block = flexibleLayoutBlock %}
        {% set isFirstBlock = loop.first %}
        {% set isLastBlock = loop.last %}
        {% set footerBorder = loop.last and (block.typeHandle !== "promo") %}
        {% include "partials/flexibleLayout/" + block.typeHandle + ".html" ignore missing %}
    {% endfor %}

    {% if footerBorder %}
        <hr class="u-mt-xl"/>
    {% endif %}

{% endmacro %}
