{% from "components/downloads/_macro.njk" import onsDownloads %}

{%  macro renderDownloadList(assets, cdnURL) %}
    {% set downloads = [] %}
    {% for asset in assets %}
        {% set downloads = (downloads.push({
            "placeholderURL": cdnURL,
            "thumbnail": {
                "smallSrc": asset.thumbnail.smallUrl|baseUrl,
                "largeSrc": asset.thumbnail.largeUrl|baseUrl,
                "filename": asset.thumbnail.smallUrl|filenameFromUrl,
                "alt": asset.title
            },
            "url": asset.url,
            "title": asset.title,
            "type": asset.assetType.title,
            "meta": {
                "fileType": asset.kind|upper,
                "fileSize": asset.filesize|fileSize,
                "filePages": asset.numOfPages
            },
            "excerpt": asset.assetSummary
        }), downloads) %}
    {% endfor %}
                                                
    {{ onsDownloads({
        "downloads": downloads
    }) }}
{% endmacro %}
