{% extends "page-templates/_template.njk" %}
{% block head %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TLWR59T');</script>
<!-- End Google Tag Manager -->
{% endblock %}
{% block bodyStart %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLWR59T"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% set baseUrl = enSite if lang === "cy" else cySite %}
{% set currentPath = "/" if type === "home" else baseUrl + url %}
{% if site !== 'ni' %}
    {% set languages =
        {
            "languages": [
                {
                    "url": baseUrl + localeUrl,
                    "ISOCode": "en",
                    "text": "English",
                    "current": lang === "en"
                },
                {
                    "url": baseUrl + localeUrl,
                    "ISOCode": "cy",
                    "text": "Cymraeg",
                    "current": lang === "cy"
                }
            ]
        }
    %}
{% else %}
    {% set languages = null %}
{% endif %}

{% set page = {
    "cdn": "13.3.0",
    "theme": "census",
    "title": gStrings.siteTitle if type === "home" else title + " - " + gStrings.siteTitle,
    "headMeta": {
        "description": metaData.metaDescription,
        "canonicalUrl": metaData.canonicalUrl
    },
    "header": {
        "title": gStrings.siteTitle,
        "logo": gStrings.orgLogo,
        "logoHref": "/",
        "titleLogoHref": "/",
        "titleLogo": gStrings.censusLogo,
        "titleLogoAlt": gStrings.siteTitle
    },
    "language": languages,
    "toggleButton": {
        "text": gStrings.menuLabel,
        "ariaLabel": "Toggle main navigation"
    },
    "navigation": {
        "id": "main-nav",
        "classes": "nav--inline nav--light nav--header nav--h-m js-main-nav",
        "ariaLabel": "Main menu",
        "ariraListLabel": "Navigation menu",
        "currentPath": currentPath,
        "itemsList": navigation
    },
    "feedback": {
        "id": "feedback",
        "action": gStrings.feedbackAction,
        "title": gStrings.feedbackTitle,
        "closeButton": gStrings.feedbackCloseBtn,
        "textarea": {
            "label": {
                "text": gStrings.feedbackTextAreaLbl 
            },
            "maxlength": 2000,
            "charCountSingular": gStrings.feedbackTextAreacharCountSingular,
            "charCountPlural": gStrings.feedbackTextAreacharCountPlural
        },
        "name": {
            "label": {
                "text": gStrings.feedbackNameLbl,
                "description": gStrings.feedbackNameDesc
            }
        },
        "email": {
            "label": {
                "text": gStrings.feedbackEmailLbl
            }
        },
        "sendButton": {
            "text": gStrings.feedbackSendBtn
        },
        "thankYouMessage": gStrings.feedbackThanksMsg,
        "errorMessage": gStrings.feedbackErrorMsg
    },
    "footer": {
        "cols": footerLinks,
        "OGLLink": license
    }
} %}
