{% extends "page-templates/_template.njk" %}

{% set designSystemVersion = "28.1.0" %}
{% set cdnURL = "https://cdn.ons.gov.uk/sdc/design-system/" + designSystemVersion %}
{% block head %}

    <!-- Google Tag Manager -->
    <script>
        var a = /^(.*)?\s*'usage':true\s*[^;]+(.*)?$/;
        if (document.cookie.match(a)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':	
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],	
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=	
            'https://www.googletagmanager.com/gtm.js?id='+i+dl+'&gtm_auth=${GA_PROP}&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);	
            })(window,document,'script','dataLayer','GTM-TLWR59T');
        }
    </script>

    <!-- End Google Tag Manager -->

    <script>
        if (!navigator.onLine) {
            console.log('You\'re offline');
            const link  = document.createElement('link');
            link.rel  = 'stylesheet';
            link.href = '/css/census.css';
            document.head.appendChild(link);
        }
    </script>
{% endblock %}
{% block bodyStart %}	
<!-- Google Tag Manager (noscript) -->	
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLWR59T&gtm_auth=${GA_PROP}&gtm_cookies_win=x"	
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>	
<!-- End Google Tag Manager (noscript) -->	
{% endblock %}
{% block preHeader %}

{% from "components/cookies-banner/_macro.njk" import onsCookiesBanner %}

{{
    onsCookiesBanner({
        "statementTitle" : gStrings.cookieStatementTitle,
        "statementText": gStrings.cookieStatementText,
        "confirmationText" : gStrings.cookieConfirmationText,
        "secondaryButtonUrl": gStrings.cookiesSecondaryButtonUrl,
        "primaryButtonText" : gStrings.cookiesPrimaryButtonText,
        "secondaryButtonText" : gStrings.cookiesSecondaryButtonText
    })
}}
{% endblock %}
{% set currentBaseUrl = enSite if lang === "en" else cySite %}
{% set baseUrl = enSite if lang === "cy" else cySite %}
{% if site !== 'ni' %}
    {% set siteBasePath = "/" %}
    {% set currentPath = siteBasePath if type === "home" else '/' + url %}
    {% if hideLanguageToggle.selected !== true %}
        {% set languages =
            {
                "languages": [
                    {
                        "url": baseUrl + localeUrl,
                        "ISOCode": "en",
                        "text": "English",
                        "current": lang === "en",
                        "attributes": {
                            "data-ga-element": 'language'
                        }
                    },
                    {
                        "url": baseUrl + localeUrl,
                        "ISOCode": "cy",
                        "text": "Cymraeg",
                        "current": lang === "cy",
                        "attributes": {
                            "data-ga-element": 'language'
                        }
                    }
                ]
            }
        %}
    {% else %}
        {% set languages = null %}
    {% endif %}
{% else %}
    {% set siteBasePath = "/ni" %}
    {% set currentPath = siteBasePath if type === "home" else siteBasePath + '/' + url %}
    {% set languages = null %}
{% endif %}

{% set hreflangs = [{
    "url" : baseUrl + seo.hrefLangs[0].url,
    "lang" : seo.hrefLangs[0].lang
}]%}
{% set pageConfig = {
    "cdn": {
        "version": designSystemVersion
    },
    "theme": "census",
    "title": gStrings.siteTitle if type === "home" else title + " - " + gStrings.siteTitle,
    "absoluteUrl" : currentBaseUrl + url,
    "headMeta": {
        "description": seo.description,
        "canonicalUrl": currentBaseUrl + url,
        "image" : currentBaseUrl + seo.twitter.imageUrl,
        "hreflangs" : hreflangs
    },
    "header": {
        "title": gStrings.siteTitle,
        "logo": gStrings.orgLogo,
        "logoHref": gStrings.orgUrl,
        "titleLogoHref": "/ni" if site === "ni" else "/",
        "titleLogo":gStrings.censusLogo,
        "titleLogoAlt": gStrings.siteTitle,
        "customHeaderLogo": "nisra" if site === "ni" else ""
    },
    "language": languages,
    "toggleButton": {
        "text": gStrings.menuLabel,
        "ariaLabel": "Toggle main navigation"
    },
    "navigation": {
        "id": "main-nav",
        "classes": "nav--inline nav--light nav--header nav--h-m js-main-nav",
        "ariaLabel": "Main menu",
        "ariraListLabel": "Navigation menu",
        "siteBasePath": siteBasePath,
        "currentPath": currentPath,
        "itemsList": navigation
    },
    "footer": {
        "crest" : footer.settings.showCrest,
        "cols": footer.cols,
        "legal": footer.rows,
        "attributes": {
            "data-ga-element": 'footer'
        },
        "poweredBy": {
            "logo": footer.settings.footerLogo,
            "classes": footer.settings.footerLogoClasses,
            "alt": footer.settings.footerLogoAltText
        }
    }
} %}
{% block scripts %}
    <script>
        if (!navigator.onLine) {
            const script = document.createElement("script");
            script.src = "/scripts/main.js";
            document.body.appendChild(script);
        }
    </script>
{% endblock %}
