{% extends "page-templates/_template.njk" %}

{% set baseUrl = enSite if lang === "cy" else cySite %}

{% set page = {
    "cdn": "4.0.0",
    "theme": "census",
    "title": "Census 2021" if lang === "en" else "Cyfrifiad 2021",
    "language": {
        "languages": [
            {
                "url": baseUrl + localeUrl,
                "ISOCode": "en",
                "text": "English",
                "current": lang === "en"
            },
            {
                "url": baseUrl + localeUrl,
                "ISOCode": "cy",
                "text": "Cymraeg",
                "current": lang === "cy"
            }
        ]
    },
    "toggleButton": {
        "text": "Menu",
        "ariaLabel": "Toggle main navigation"
    },
    "navigation": {
        "id": "main-nav",
        "classes": "nav--inline nav--light nav--header nav--h-m js-main-nav",
        "ariaLabel": "Main menu",
        "ariraListLabel": "Navigation menu",
        "currentPath": baseUrl + url,
        "itemsList": navigation
    },
    "footer": {
        "cols": footerLinks,
        "OGLLink": license
    }
} %}
