{% from "components/card/_macro.njk" import onsCard %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/promo-banner/_macro.njk" import onsPromoBanner %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set footerBorder = false %}

{% for block in flexibleLayout %}

{% if loop.last and (block.type !== 'promo') %}
{% set footerBorder = true %}
{% endif %}

    {% if block.type === 'hero' %}

        {% set hero = {
            censusTheme: true,
            censusThemeDark: block.theme === "dark",
            title: block.heading,
            subtitle: block.subHeading,
            text: block.text,
            image: {
                smallSrc: block.image[0].transforms.smallScr,
                largeSrc: block.image[0].transforms.largeSrc,
                alt: block.image[0].alt,
                src: block.image[0].src
            }
            
        } %}

        {% if block.buttonUrl and block.buttonText %}

            {% set hero = hero | setAttr ('button', {
                "url": block.buttonUrl,
                "text": block.buttonText
            }) %}

        {% endif %}

        {% if block.collapsableTitle and block.collapsableContent %}
            {% set hero = hero|setAttr("collapsible", {
                "classes": "u-mt-m",
                "id": "collapsible",
                "title": block.collapsableTitle,
                "titleTag": "h2",
                "content": block.collapsableContent
            }) %}
        {% endif %}

        {{ 
            onsHero(hero)
        }}


    {% elif block.type === 'warning' %}

        {% call onsPanel({ "type": 'warn-branded' }) %}
            <p class="u-mb-no">{{ block.warningText }}</p>
            {% if block.extraText %}
                <p class="u-fs-r">{{ block.extraText }}</p>
            {% endif %}
        {% endcall %}

        
    {% elif block.type === 'highlights' %}

    <div class="page__container container u-mt-l">

        <section {% if (flexibleLayout[loop.index].type !== 'promo') and (loop.revindex0 !== 0) %} class="u-bb" {% endif%}>
        {% for highlight in block.highlights %}

            {% if loop.index % 3 == 1 %}
            <div class="grid grid--column@xs@s u-mb-l">
            {% endif %}
                <div class="grid__col col-4@m">
                    {{-
                        onsCard({
                            "ariaBy": 'Section highlight',
                            "id": highlight.entry.id,
                            "textId": 'highlight-' + highlight.entry.textId,
                            "title": highlight.entry.title,
                            "url": highlight.entry.url,
                            "text": highlight.text,
                            "itemsList": highlight.itemsList,
                            "attributes": {
                                "data-ga-element": 'card'
                            }
                        })
                    }}
                </div>
            {% if loop.index % 3 == 0 or loop.last %}
            </div>
            {% endif %}
        {% endfor %}

        </section>

    </div>

    {% elif block.type === 'promo' %}

        {% set promo = {
            "darkTheme": true,
            content: block.body
        } %}

        {% if block.image | length > 0 %}

            {% set promo = promo | setAttr ('image', {
                "alt": block.heading,
                "src": block.image[0].src
            }) %}

        {% endif %}

        {{
            onsPromoBanner(promo)
        }}
    
    {% elif block.type === 'caseStudies' %}

    <div class="page__container container u-mt-l">

        <section class="u-pb-m u-mb-m {% if (flexibleLayout[loop.index].type !== 'promo') and (loop.revindex0 !== 0) %} u-bb {% endif%}">
            <h2 class="u-mb-l">{{ block.heading }}</h2>
            <div class="grid grid--column@xs@s">
                {% if block.subHeading %}
                    <div class="grid__col col-4@m">
                        <div class="u-pr-m@m u-mb-l@xs@m">
                            <h3>{{ block.subHeading}}</h3>
                            <p>{{ block.text }}</p>
                            <a href="{{ block.ctaLink.url }}">{{ block.ctaText }}</a>
                        </div>
                    </div>
                {% endif %}
                
                {% for entry in block.caseStudies %}
                    <div class="grid__col col-6@s@m col-4@m">
                        {{-
                            onsCard({
                                "ariaBy": 'Case study',
                                "id": entry.id,
                                "textId": 'casestudy-' + loop.index,
                                "title": entry.entry.title,
                                "url": entry.entry.url,
                                "text": entry.text,
                                "attributes": {
                                    "data-ga-element": 'card'
                                },
                                "image": {
                                    "alt": entry.image[0].title,
                                    "smallSrc": entry.image[0].src,
                                    "largeSrc": entry.image[0].src
                                }
                            })
                        }}
                    </div>
                {% endfor %}
            </div>
        </section>

    </div>

    {% elif block.type === 'row' %}

    <div class="page__container container u-mt-l">
        <section>
            <h2 class="u-mb-l">{{ block.sectionTitle }}</h2>

            <div class="grid grid--column@xs@s u-mb-xl">
                <div class="grid__col col-6@m">
                    {% if block.leftHeading %}
                        <h3 class="u-mb-m">{{ block.leftHeading }}</h3>
                    {% endif %}

                    {% set pageContent = block.leftSnippet %}
                    {% include "partials/pageContent.html" %}

                    <ul class="list list--bare">
                        {% for item in block.leftEntries %}
                            <li class="list__item u-mb-s">
                                <a class="u-fs-r--b" href="{{ item.url }}">{{ item.linkTextOverride if item.linkTextOverride else item.title }}</a>
                                {% if item.text %}
                                    <br>
                                    {{ item.text }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>

                    <a href="{{ block.leftCtaLink.url }}">{{ block.leftCtaText }}</a>
                </div>
                <div class="grid__col push-1@m col-5@m u-bl">
                    <div class="u-pl-m@m">
                        {% if block.rightHeading %}
                            <h3 class="u-mb-m">{{ block.rightHeading }}</h3>
                        {% endif %}

                        <ul class="list list--bare">
                            {% for item in block.rightEntries %}
                                <li class="list__item u-mb-s">
                                    <a class="u-fs-r--b" href="{{ item.url }}">{{ item.linkTextOverride if item.linkTextOverride else item.title }}</a>
                                    {% if item.text %}
                                        <br>
                                        {{ item.text }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>

                        <p class="u-mb-no">
                            <a href="{{ block.rightCtaLink }}">{{ block.rightCtaText }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% else %}

    <p>component {{type}} not made</p>

{% endif %}

{% endfor %}

{% include "partials/footer.html" %}

