{% from "components/card/_macro.njk" import onsCard %}
{% from "components/downloads/_macro.njk" import onsDownloads %}

{%  macro download(entries) %}

    {% set downloads = [] %}

    {% for entry in entries %}
        
        {% set download = {
            "thumbnail": {
                "smallSrc": entry.transforms.smallSrc,
                "largeSrc": entry.transforms.largeSrc,
                "alt": entry.title
            },
            "url": entry.src,
            "title": entry.title,
            "type": entry.type,
            "meta": {
                "fileType": entry.kind,
                "fileSize": entry.filesize,
                "filePages": entry.numOfPages
            },
            "excerpt": entry.summary
        } %}

        {% set downloads = (downloads.push(download), downloads) %}

    {% endfor %}
                                                
    {{ onsDownloads({
        "downloads": downloads
    }) }}

{% endmacro %}
