{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/video/_macro.njk" import onsVideo %}
{% from "components/images/_macro.njk" import onsImage %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/quote/_macro.njk" import onsQuote %}
{% from "components/text-indent/_macro.njk" import onsTextIndent %}
{% from "components/timeline/_macro.njk" import onsTimeline %}

{% from "macros/localize.njk" import localize %}

{% import "partials/helpers.html" as helpers %}

{% if pageContent %}
    {% for contentBlock in pageContent %}
        {% if contentBlock.mainBody %}
            {{ contentBlock.mainBody | safe }}
        {% endif %}
        {% if contentBlock.panel %}
        [{{contentBlock.panel|dump}}]
            {{ 
                onsPanel({
                    "type": contentBlock.panel.type.value,
                    "body": contentBlock.panel.body,
                    "classes": 'u-mb-m'
                })
            }}
        {% elif contentBlock.definition %}
            {% set definitionContent %}
                {{ contentBlock.definition.content|safe }}

                {% if contentBlock.definition.warningText %}
                    {% call onsPanel({ "type": 'warn' }) %}
                        <p class="u-mb-no">{{ contentBlock.definition.warningText }}</p>
                    {% endcall %}
                {% endif %}
            {% endset %}

            {{
                onsCollapsible({
                    "id": 'details',
                    "classes": 'u-mb-m',
                    "title": contentBlock.definition.title,
                    "content": definitionContent,
                    "summaryAttributes": {
                        "data-ga-category": 'Content definition',
                        "data-ga-label": contentBlock.definition.title
                    },
                    "button": {
                        "close": gStrings.hideThis
                    }
                })
            }}
        {% elif contentBlock.body %}
            {{ contentBlock.body.content | safe }}
        {% elif contentBlock.htmlContent %}
            {{ contentBlock.htmlContent.content | safe }}
        {% elif contentBlock.image %}
            {{ 
                onsImage({
                    "url": '/' + contentBlock.image.url,
                    "alt": contentBlock.image.altText,
                    "caption": contentBlock.image.caption
                })
            }}
        {% elif contentBlock.downloads %}
            {{
                helpers["download"](contentBlock.downloads)
            }}  
        {% elif contentBlock.video %}
            {{ 
                onsVideo({
                    "youtubeUrl": contentBlock.video.youtubeUrl
                })
            }}
        {% elif contentBlock.ctaBtn %}
            {{
                onsButton({
                    "type": 'button',
                    "text": contentBlock.ctaBtn.text,
                    "classes": 'btn--link u-mb-m',
                    "url": contentBlock.ctaBtn.url,
                    "attributes": contentBlock.ctaBtn.attributes
                }) 
            }}
        {% elif contentBlock.quote %}
            {{-
                onsQuote({
                    text: contentBlock.quote.text,
                    ref: contentBlock.quote.ref
                }) 
            }}                                
        {% elif contentBlock.textIndent %}
            {{-
                onsTextIndent({
                    text: contentBlock.textIndent.text
                }) 
            }}
        {% elif contentBlock.timeline  %}
            {{-
                onsTimeline({
                    items: contentBlock.timeline
                }) 
            }}
        {% elif contentBlock.collapsibleQuestionLinks  %}
            {%
                call onsCollapsible({
                    "classes": "u-mt-m",
                    "id": contentBlock.id,
                    "title": contentBlock.title,
                    "titleTag": "h3",
                    "button": {
                        "close": localize(language, "Hide this"),
                        "contextSuffix": "content",
                        "attributes": {
                            "aria-hidden": "true"
                        }
                    },
                    "saveState": true
                })
            %}
                {{
                    onsList({
                        "classes": "list--bare list--spacious",
                        "itemsList": contentBlock.collapsibleQuestionLinks
                    })
                }}
            {% endcall %}
        {% endif %}
    {% endfor %}
{% endif %}
