{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/lists/_macro.njk" import onsList %}

{% set itemsList = [] %}
{% for entry in contentBlock.entries %}
    {% set itemsList = (itemsList.push({
        "text": entry.title,
        "url": entry.url
    }), itemsList) %}
{% endfor %}

{%
    call onsCollapsible({
        "classes": "u-mt-m",
        "id": contentBlock.questionCategory.slug,
        "title": contentBlock.questionCategory.title,
        "titleTag": "h3",
        "button": {
            "close": "Hide this"|localize,
            "contextSuffix": "content",
            "attributes": {
                "aria-hidden": "true"
            }
        },
        "saveState": true
    })
%}
    {{
        onsList({
            "classes": "list--bare list--spacious",
            "itemsList": itemsList
        })
    }}
{% endcall %}
