{% from "components/images/_macro.njk" import onsImage %}

{% if r/.svg$/g.test(block.image.filename) %}
    {{ 
        onsImage({
            "url": block.image.url,
            "alt": block.overrideAltText if block.overrideAltText else block.image.altText,
            "caption": block.image.caption
        })
    }}
{% else %}
    {{ 
        onsImage({
            "image": {
                "smallSrc": block.smallImage.url,
                "largeSrc": block.largeImage.url
            },
            "alt": block.overrideAltText if block.overrideAltText else block.image.altText,
            "caption": block.image.caption
        })
    }}
{% endif %}
