{% extends "partials/_master.html" %}

{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/downloads/_macro.njk" import onsDownloads %}

{% set pageTitle = title %}
{% set cdnURL = cdnURL %}

{% block pageContent %}
<div class="page__container container">

    {{ 
        onsBreadcrumb({
            "ariaLabel": gStrings.bcrumb,
            "itemsList": breadcrumbs
        }) 
    }}

    <div class="grid">

        <div class="grid__col col-12@m">

            <main class="page__main" id="main-content" role="main">

                <h1 class="u-mb-l u-fs-xxl">{{title}}</h1>

                <div class="col-8@m u-mb-l">
                    {% for contentBlock in content %}
                            {% if contentBlock.mainBody %}
                                {{ contentBlock.mainBody | safe }}
                            {% endif %}
                       {% endfor %}
                
                </div>

                <div class="js-adv-filter">

                    <div class="grid grid--column@xs@s u-mb-m@m">

                        <div class="grid__col col-4@m">

                            {{
                                onsButton({
                                    "type": 'button',
                                    "text": gStrings.downloadFilterBtnText,
                                    "classes": 'adv-filter__trigger js-adv-filter__trigger btn btn--secondary btn--small u-mb-m',
                                    "attributes": {
                                        "aria-label": gStrings.downloadFilterBtnLabel,
                                        "aria-expanded": 'false',
                                        "aria-controls": 'filter-panel'
                                    }
                                })
                            }}

                            <!-- Filter panel -->
                            <div class="adv-filter__panel js-adv-filter__panel" id="filter-panel">

                                <h2 class="u-fs-l">{{gStrings.downloadFilterHeading}}</h2>

                                <form class="js-adv-filter__form" method="POST">

                                    <!-- Reset all filters -->
                                    <button class="adv-filter__reset js-adv-filter__reset" type="reset">
                                        {{ gStrings.downloadFilterResetBtnText}}
                                    </button>

                                    <!-- Filter item -->
                                    {% for filter in downloadsLayout.downloadCategories %}
                                    <div class="adv-filter__item js-adv-filter__item" data-default-text="{{filter.pluralisedTitle}}" data-multi-select-text="{{gStrings.downloadFilterSelectedText | safe}}">

                                        <fieldset class="fieldset" aria-controls="adv-filter-gallery">

                                            <legend class="fieldset__legend">{{filter.title}}</legend>
                                            
                                            <div class="adv-filter__selection">
                                                <span class="u-vh">{{gStrings.downloadFilterActiveHeading}}</span>
                                                <span class="u-fs-s js-adv-filter__selection">{{filter.pluralisedTitle}}</span>
                                            </div>

                                            
                                            {% if filter.options | length > 0 %}

                                                {% set checkboxOpts = [] %}

                                                {% for option in filter.options %}
                                                    
                                                    {% set checkboxOpt = {
                                                        "classes": 'checkbox--toggle',
                                                        "id": option.value,
                                                        "label": {
                                                            "text": option.label
                                                        },
                                                        "value": option.value,
                                                        "attributes": {
                                                            "data-filter": option.value
                                                        }
                                                    } %}

                                                    {% set checkboxOpts = (checkboxOpts.push(checkboxOpt), checkboxOpts) %}

                                                {% endfor %}
                                        
                                                
                                                {{
                                                    onsCheckboxes({
                                                        "dontWrap": 'true',
                                                        "legend": filter.title,
                                                        "name": filter.slug,
                                                        "checkboxes": checkboxOpts
                                                    })
                                                }}

                                            {% endif %}

                                        </fieldset>
                                        {% endfor %}

                                    </div>

                                    <!-- Filter actions -->
                                    <div class="adv-filter__actions">

                                        {{
                                            onsButton({
                                                "type": 'button',
                                                "html": gStrings.downloadResultsBtnText | safe,
                                                "classes": 'btn btn--small js-adv-filter__show'
                                            })
                                        }}

                                        {{ 
                                            onsButton({
                                                "type": 'button',
                                                "text": gStrings.downloadCloseBtnText,
                                                "classes": 'btn--small btn--secondary js-adv-filter__close'
                                            }) 
                                        }}

                                    </div>

                                </form>

                            </div>

                        </div>

                        <div class="grid__col col-8@m">
                            
                            <div class="adv-filter__results-options">

                                <!-- Result count -->
                                <div class="adv-filter__results-count">
                                    {{gStrings.downloadResultsCountText | replace("{totalResults}", downloadsLayout.assetsMeta.total) | safe}}
                                </div>

                                <!-- Sort by -->
                                <div class="adv-filter__results-sort">
                                    <label class="label" for="sort">{{gStrings.downloadSortByText}}</label>
                                    <select class="input input--select" id="sort" name="sort" aria-controls="adv-filter-gallery" data-sort="true">
                                        <option value="index" data-sort-number="true">{{gStrings.downloadSortByLatestText}}</option>
                                        <option value="index" data-sort-order="desc" data-sort-number="true">{{gStrings.downloadSortByOldestText}}</option>
                                    </select>
                                </div>

                            </div>

                            <!-- Results -->
                            <ul class="adv-filter__gallery js-adv-filter__gallery" id="adv-filter-gallery" data-filter-animation="off">

                                <!-- Item -->
                                {% for asset in downloadsLayout.assets %}
                                <li class="filter__item js-filter__item" data-filter="{{asset.assetCategories}}" data-sort-index="{{loop.index}}">
                                    {% if asset.transforms.smallSrc and asset.transforms.largeSrc and asset.transforms.filename and asset.alt %}
                                        {% set thumbnailImage = 
                                            {
                                                "smallSrc": asset.transforms.smallSrc,
                                                "largeSrc": asset.transforms.largeSrc,
                                                "filename": asset.transforms.filename,
                                                "alt": asset.alt
                                            }
                                        %}
                                    {% else %}
                                        {% set thumbnailImage = {} %}
                                    {% endif %}
                                    {{ onsDownloads({
                                        "downloads": [
                                            {
                                                "placeholderURL": cdnURL,
                                                "thumbnail": thumbnailImage,
                                                "url": asset.src,                                                
                                                "title": asset.title,
                                                "type": asset.type,
                                                "meta": {
                                                    "fileType": asset.kind,
                                                    "fileSize": asset.filesize,
                                                    "filePages": asset.numOfPages
                                                },
                                                "excerpt": asset.summary
                                            }
                                        ]
                                    }) }}
                                </li>
                                {% endfor %}

                            </ul>

                            <!-- No results -->
                            <div class="adv-filter__no-results" data-fallback-gallery-id="adv-filter-gallery">
                                <h2>{{gStrings.downloadNoResultsHeading}}</h2>
                                <p>{{gStrings.downloadNoResultsBody}}</p>
                            </div>
                    
                        </div>

                    </div>

                </div>

            </main>

        </div>

    </div>

</div>

{% endblock %}
