{% extends "partials/_master.html" %}

{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% block page %}
    <div class="page__container container">
        {{ 
            onsBreadcrumb({
                "ariaLabel": gStrings.bcrumb,
                "itemsList": breadcrumbs
            })
        }}
        <div class="grid u-mt-s@m">
            <div class="grid__col col-7@m">
                <main id="main-content" role="main" class="page__main {{ pageClasses }}">
                    <h1 class="u-mb-l u-fs-xxl">{{ title }}</h1>
                    <section class="page__body">
                        {% if content %}
                            {% for contentBlock in content %}
                                {% if contentBlock.mainBody %}
                                    {{ contentBlock.mainBody |  safe }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </section>
                </main>
            </div>  
        </div>
    </div>
{% endblock %}
