{% extends "templates/_master.html" %}

{% block pageContent %}
    <div class="page__container container">
        {% include "partials/breadcrumbs.html" %}

        <div class="grid u-mt-s">
            <div class="grid__col col-7@m">
                <main id="main-content" role="main" class="page__main u-mt-no">
                    <h1 class="u-mb-l u-fs-xxl">{{ entry.title }}</h1>
                    <section class="page__body">
                        {{ entry.body|safe }}
                    </section>
                </main>
            </div>  
        </div>
    </div>
{% endblock %}
