{% extends "partials/_master.html" %}

{% from "components/call-to-action/_macro.njk" import onsCallToAction %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/related-links/_macro.njk" import onsRelatedLinks %}
{% from "components/downloads/_macro.njk" import onsDownloads %}
{% from "components/video/_macro.njk" import onsVideo %}

{% block page %}
    {{-
        onsCallToAction({
            "headingText": ctaContent.headingText,
            "paragraphText": ctaContent.paragraphText,
            "button": {
                "text": ctaContent.text,
                "classes": 'btn--small',
                "url": ctaContent.url
            }
        })
    }}
    <div class="page__container container">
        {{ 
            onsBreadcrumb({
                "ariaLabel": gStrings.bcrumb,
                "itemsList": breadcrumbs
            })
        }}
        <div class="grid u-mt-s@m">
            <div class="grid__col col-7@m">
                <main id="main-content" role="main" class="page__main {{ pageClasses }}">
                    <h1 class="u-mb-l u-fs-xxl">{{ title }}</h1>
                    <section class="section">
                        {% if content %}
                            {% for contentBlock in content %}
                                {% if contentBlock.mainBody %}
                                    {{ contentBlock.mainBody | safe }}
                                {% endif %}
                                {% if contentBlock.panel %}
                                    {{ 
                                        onsPanel({
                                            "body": contentBlock.panel.body,
                                            "classes": 'u-mb-s'
                                        })
                                    }}
                                {% elif contentBlock.definition %}
                                    {{
                                        onsDetails({
                                            "id": 'details',
                                            "classes": 'u-mb-s',
                                            "title": contentBlock.definition.title,
                                            "content": contentBlock.definition.content,
                                            "button": {
                                                "close": gStrings.hideThis
                                            }
                                        })
                                    }}
                                {% elif contentBlock.body %}
                                    {{ contentBlock.body.content | safe }}
                                {% elif contentBlock.image %}
                                    <img class="u-mb-s" alt="{{ contentBlock.image.title }}" src="/{{ contentBlock.image.url }}">
                                {% elif contentBlock.downloads %}
                                    {{ 
                                        onsDownloads({
                                        "classes": "u-mb-s",
                                        "downloads": contentBlock.downloads
                                    }) 
                                }}   
                                {% elif contentBlock.video %}
                                    {{ 
                                        onsVideo({
                                            "youtubeUrl": contentBlock.video.youtubeUrl
                                        })
                                    }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </section>
                </main>
            </div>  
            <div class="grid__col col-4@m push-1@m u-mt-m">
                {{-
                    onsRelatedLinks({
                        "id": 'related-list-block',
                        "title": gStrings.relatedContent,
                        "itemsList": relatedLinks
                    }) 
                }}
            </div>
        </div>
    </div>
{% endblock %}
