{% extends "partials/_master.html" %}

{% from "components/call-to-action/_macro.njk" import onsCallToAction %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/toc/_macro.njk" import onsTableOfContents %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/content-pagination/_macro.njk" import onsContentPagination %}
{% from "components/related-links/_macro.njk" import onsRelatedLinks %}
{% from "components/downloads/_macro.njk" import onsDownloads %}
{% from "components/video/_macro.njk" import onsVideo %}
{% from "components/images/_macro.njk" import onsImage %}
{% block page %}
    {{-
        onsCallToAction({
            "headingText": ctaContent.headingText,
            "paragraphText": ctaContent.paragraphText,
            "button": {
                "text": ctaContent.text,
                "classes": 'btn--small',
                "url": ctaContent.url
            }
        })
    }}
    <div class="page__container container">
        {{ 
            onsBreadcrumb({
                "ariaLabel": gStrings.bcrumb,
                "itemsList": breadcrumbs
            })
        }}
        <div class="grid u-mt-s@m">
            <div class="grid__col col-7@m">
                <main id="main-content" role="main" class="page__main {{ pageClasses }}">
                    <h1 class="u-mb-l u-fs-xxl">{{ parentTitle if parentTitle and parentType === "guide" else title  }}</h1>
                    {% if sectionNav %}
                        {{-
                            onsTableOfContents({
                                "ariaLabel": gStrings.tocLabel,
                                "title": gStrings.tocTitle,
                                "itemsList": sectionNav
                            }) 
                        }}
                    {% endif %}
                    <section class="section">
                       {% if parentTitle and parentType === "guide" %}<h2>{{ title }}</h2>{% endif %}
                        {% if content %}
                            {% for contentBlock in content %}
                                {% if contentBlock.mainBody %}
                                    {{ contentBlock.mainBody | safe }}
                                {% endif %}
                                {% if contentBlock.panel %}
                                    {{ 
                                        onsPanel({
                                            "body": contentBlock.panel.body,
                                            "classes": 'u-mb-m'
                                        })
                                    }}
                                {% elif contentBlock.definition %}
                                    {{
                                        onsDetails({
                                            "id": 'details',
                                            "classes": 'u-mb-m',
                                            "title": contentBlock.definition.title,
                                            "content": contentBlock.definition.content,
                                            "button": {
                                                "close": gStrings.hideThis
                                            }
                                        })
                                    }}
                                {% elif contentBlock.body %}
                                    {{ contentBlock.body.content | safe }}
                                {% elif contentBlock.image %}
                                    <div class="u-mb-m">
                                        {{ 
                                            onsImage({
                                                "url": '/' + contentBlock.image.url,
                                                "alt": contentBlock.image.altText,
                                                "caption": contentBlock.image.caption
                                            })
                                        }}
                                    </div>
                                {% elif contentBlock.downloads %}
                                    {{ 
                                        onsDownloads({
                                        "classes": "u-mb-m",
                                        "downloads": contentBlock.downloads
                                    }) 
                                }}   
                                {% elif contentBlock.video %}
                                    <div class="u-mb-m">
                                        {{ 
                                            onsVideo({
                                                "youtubeUrl": contentBlock.video.youtubeUrl
                                            })
                                        }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {{-
                            onsContentPagination({
                                "ariaLabel": gStrings.tocLabel,
                                "contentPaginationItems": pagination.contentPaginationItems
                            }) 
                        }}
                    </section>
                </main>
            </div>  
            <div class="grid__col col-4@m push-1@m u-mt-m">
                {{-
                    onsRelatedLinks({
                        "id": 'related-list-block',
                        "title": gStrings.relatedContent,
                        "itemsList": relatedLinks
                    }) 
                }}
            </div>
        </div>
    </div>
{% endblock %}
