{% extends "partials/_master.html" %}

{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/lists/_macro.njk" import onsList %}

{% block page %}
    <div class="page__container container">
        {{ 
            onsBreadcrumb({
                "ariaLabel": 'Breadcrumb',
                "itemsList": breadcrumbs
            }) 
        }}
        <div class="grid">
            <div class="grid__col col-7@m">
                <main id="main-content" role="main" class="page__main {{ pageClasses }}">
                    <h1 class="u-fs-l">{{ parentTitle if parentTitle else title  }}</h1>
                    {% if sectionNav %}
                        <h2 class="u-mb-xs u-fs-m">Contents</h2>
                        {{ 
                            onsList({
                                "classes": "list--bare",
                                "itemsList": sectionNav
                            })
                        }}
                    {% endif %}
                    {{ body | safe }}
                    <div class="u-mt-l">
                        <hr class="footer__hr" style="margin-bottom: 0;">
                    </div>
                    <div class="u-mt-s">
                        <div class="grid__col col-4@m col-5@xs" style="padding-left:0;">
                            {% if prevEntry %}
                                <a href="{{ prevEntry.url }}" style="text-align:left;">
                                    <h2 class="u-mb-xs">
                                    &lt; Previous</h2> 
                                    <p>{{ prevEntry.text }}</p>
                                </a>
                            {% endif %}
                        </div>

                        <div class="grid__col col-4@m push-4@m col-5@xs push-1@xs" style="padding-left:0;">
                            {% if nextEntry %}
                                <a href="{{ nextEntry.url }}" style="text-align:right;">
                                    <h2 class="u-mb-xs">Next &gt;</h2>
                                    <p>{{ nextEntry.text }}</p>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </main>
            </div>  
            <div class="grid__col col-4@m push-1@m">
                <h2 class="u-mb-xs u-fs-m">Related Links</h2>
                {{ 
                    onsList({
                        "classes": "list--bare",
                        "itemsList": relatedLinks
                    })
                }}
            </div>
        </div>
    </div>
{% endblock %}
