{% extends "partials/_master.html" %}

{% from "components/call-to-action/_macro.njk" import onsCallToAction %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/toc/_macro.njk" import onsTableOfContents %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/content-pagination/_macro.njk" import onsContentPagination %}
{% from "components/related-links/_macro.njk" import onsRelatedLinks %}
{% from "components/downloads/_macro.njk" import onsDownloads %}
{% from "components/video/_macro.njk" import onsVideo %}
{% from "components/images/_macro.njk" import onsImage %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/quote/_macro.njk" import onsQuote %}
{% from "components/text-indent/_macro.njk" import onsTextIndent %}

{% set pageTitle = title %}
{% set title = parentTitle + ': ' + title if parentTitle and parentType  === "guide" else title %}
{% block pageContent %}
    {% if ctaContent is not null %}
        {{-
            onsCallToAction({
                "headingText": ctaContent.headingText,
                "paragraphText": ctaContent.paragraphText,
                "button": {
                    "text": ctaContent.text,
                    "classes": 'btn--small btn--link',
                    "url": ctaContent.url,
                    "attributes": {
                        "data-ga-element": 'cta-button'
                    }
                }
            })
        }}
    {% endif %}
    <div class="page__container container">
        {{ 
            onsBreadcrumb({
                "ariaLabel": gStrings.bcrumb,
                "itemsList": breadcrumbs
            })
        }}
        <div class="grid u-mt-s@m">
            <div class="grid__col col-7@m">
                <main id="main-content" role="main" class="page__main {{ pageClasses }}">
                    <h1 class="u-mb-l">
                        <span class="u-fs-m u-db u-mb-xs u-lighter">{{ parentTitle if parentTitle and parentType === "guide" else title  }}</span>
                        <span class="u-vh">: </span>
                        <span class="u-fs-xxl u-db">
                            {% for item in sectionNav %}
                                {% if item.url is not defined %}
                                    {{ item.text }}
                                {% elif item.current %}
                                    {{ item.text }}
                                {% endif %}
                            {% endfor %}
                        </span>
                    </h1>
                    {% if sectionNav %}
                        {{-
                            onsTableOfContents({
                                "ariaLabel": gStrings.tocLabel,
                                "title": gStrings.tocTitle,
                                "itemsList": sectionNav
                            }) 
                        }}
                    {% endif %}
                    <section class="page__body">
                        {% if content %}
                            {% for contentBlock in content %}
                                {% if contentBlock.mainBody %}
                                    {{ contentBlock.mainBody | safe }}
                                {% endif %}
                                {% if contentBlock.panel %}
                                    {{ 
                                        onsPanel({
                                            "body": contentBlock.panel.body,
                                            "classes": 'u-mb-m'
                                        })
                                    }}
                                {% elif contentBlock.definition %}
                                    {{
                                        onsCollapsible({
                                            "id": 'details',
                                            "classes": 'u-mb-m',
                                            "title": contentBlock.definition.title,
                                            "content": contentBlock.definition.content,
                                            "summaryAttributes": {
                                                "data-ga-category": 'Content definition',
                                                "data-ga-label": contentBlock.definition.title
                                            },
                                            "button": {
                                                "close": gStrings.hideThis
                                            }
                                        })
                                    }}
                                {% elif contentBlock.body %}
                                    {{ contentBlock.body.content | safe }}
                                {% elif contentBlock.image %}
                                    {{ 
                                        onsImage({
                                            "url": '/' + contentBlock.image.url,
                                            "alt": contentBlock.image.altText,
                                            "caption": contentBlock.image.caption
                                        })
                                    }}
                                {% elif contentBlock.downloads %}
                                    {{ 
                                        onsDownloads({
                                        "downloads": contentBlock.downloads
                                    }) 
                                }}   
                                {% elif contentBlock.video %}
                                    {{ 
                                        onsVideo({
                                            "youtubeUrl": contentBlock.video.youtubeUrl
                                        })
                                    }}
                                {% elif contentBlock.ctaBtn %}
                                    {{
                                        onsButton({
                                            "type": 'button',
                                            "text": contentBlock.ctaBtn.text,
                                            "classes": 'btn--link u-mb-m',
                                            "url": contentBlock.ctaBtn.url,
                                           "attributes": contentBlock.ctaBtn.attributes
                                        }) 
                                    }}
                                {% elif contentBlock.quote %}
                                    {{-
                                        onsQuote({
                                            text: contentBlock.quote.text,
                                            ref: contentBlock.quote.ref
                                        }) 
                                    }}                                
                                {% elif contentBlock.textIndent %}
                                    {{-
                                        onsTextIndent({
                                            text: contentBlock.textIndent.text
                                        }) 
                                    }}                                
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="u-mt-xl">
                            {{-
                                onsContentPagination({
                                    "ariaLabel": gStrings.tocLabel,
                                    "contentPaginationItems": pagination.contentPaginationItems
                                }) 
                            }}
                        </div>
                    </section>
                </main>
            </div>  
            <div class="grid__col col-4@m push-1@m u-mt-m">
                {{-
                    onsRelatedLinks({
                        "id": 'related-list-block',
                        "title": gStrings.relatedContent,
                        "itemsList": relatedLinks
                    }) 
                }}
            </div>
        </div>
    </div>
{% endblock %}
