{% extends "templates/_master.html" %}

{% from "components/lists/_macro.njk" import onsList %}
{% from "components/related-links/_macro.njk" import onsRelatedLinks %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block pageContent %}
    {% if helpMetaData.metadata.surveyType === "paper" %}
        {% include "partials/globalCta.html" %}
    {% endif %}

    <div class="page__container container">
        {% include "partials/breadcrumbs.html" %}

        <div class="grid u-mt-s">
            <div class="grid__col col-7@m">
                <main id="main-content" role="main" class="page__main u-mt-no">
                    <h1 class="u-mb-l u-fs-xxl">{{ entry.title }}</h1>
                    {% if helpMetaData.metadata.surveyType is defined %}
                        {% if helpMetaData.metadata.surveyType === "online" %}
                            {% set guidancePanelText = guidancePanel.paper.text %}
                            {% set guidancePanelLinkText = guidancePanel.paper.linkText %}                      
                        {% elif helpMetaData.metadata.surveyType === "paper" %}
                            {% set guidancePanelText = guidancePanel.online.text %}
                            {% set guidancePanelLinkText = guidancePanel.online.linkText %}                      
                        {% endif %}
                        {% call onsPanel({
                                "classes": "u-mb-l",
                                "type": "branded"
                            }) %}
                            <p>{{ guidancePanelText|safe }} <a href="{{ helpMetaData.url }}">{{ guidancePanelLinkText }}</a>.</p>
                        {% endcall %}                        
                    {% endif %}

                    <aside class="toc-container" role="complementary">
                        <nav role="navigation" class="toc" aria-label="{{ global.strings.tocLabel }}">
                            <h2 class="toc__title u-fs-r--b">{{ global.strings.tocTitle }}</h2>
                            <ol class="list--dashed u-mb-m u-mt-no">
                                {% for helpBlock in helpIndex %}
                                    {% if helpBlock.listHeading %}
                                        <h3 class="u-fs-r u-mb-xs u-mt-s">{{ helpBlock.listHeading }}:</h3>
                                    {% elif helpBlock.topic %}
                                        <li class="list__item"><a href="#{{ helpBlock.id }}" class="list__link">{{ helpBlock.topic }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </nav>
                    </aside>

                    <section class="page__body">
                        {% for helpBlock in helpIndex %}
                            {% if helpBlock.listHeading %}
                                <h2 {% if not loop.first %}class="u-mt-xl"{% endif %}>{{ helpBlock.listHeading }}</h2>
                            {% elif helpBlock.topic %}
                                <h3 class="u-mt-m" id="{{ helpBlock.id }}">{{ helpBlock.topic }}</h3>
                            {% elif helpBlock.entries %}
                                {{ 
                                    onsList({
                                        "element": "ol",
                                        "classes": "list--prefix list--spacious list--bare",
                                        "itemsList": helpBlock.entries
                                    }) 
                                }}
                            {% endif %}
                        {% endfor %}
                    </section>
                </main>
            </div>

            <div class="grid__col col-4@m push-1@m u-mt-m">
                {{-
                    onsRelatedLinks({
                        "id": "related-list-block",
                        "title": global.strings.relatedContent,
                        "itemsList": entry.relatedLinks
                    }) 
                }}
            </div>
        </div>
    </div>
{% endblock %}
