{% extends "partials/_master.html" %}

{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/lists/_macro.njk" import onsList %}

{% block page %}
    <div class="page__container container">
        {{ 
            onsBreadcrumb({
                "ariaLabel": 'Breadcrumb',
                "itemsList": breadcrumbs
            }) 
        }}
        <div class="grid">
            <div class="grid__col col-7@m">
                <main id="main-content" role="main" class="page__main {{ pageClasses }}">
                    <h1 class="u-fs-l">{{ title }}</h1>
                    <h2 class="u-mb-xs u-fs-m">Contents</h2>
                    {% if help %}
                        {% for helpBlock in help %}
                            {% set helpContents = [] %}

                            {% if helpBlock.title %}
                                <h2>{{ helpBlock.title }}</h2>
                            {% elif helpBlock.topic %}
                                {% set helpContents = (helpContents.push({ "text": helpBlock.topic, "url": '#' + helpBlock.id }), helpContents) %}
                                {{ 
                                    onsList({
                                        "classes": "list--bare",
                                        "itemsList": helpContents
                                    })
                                }}
                            {% endif %}
                        {% endfor %}
                    
                        {% for helpBlock in help %}
                            {% if helpBlock.title %}
                                <h2>{{ helpBlock.title }}</h2>
                            {% elif helpBlock.topic %}
                                <h3 id="{{ helpBlock.id }}">{{ helpBlock.topic }}</h3>
                            {% elif helpBlock.entries %}
                                <ul>
                                    {% for entries in helpBlock.entries %}
                                        <li>{% if entries.qNum %}{{ entries.qNum }} - {% endif %}<a href="{{ entries.url }}">{{ entries.text }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </main>
            </div>  
            <div class="grid__col col-4@m push-1@m">
                <h2 class="u-mb-xs u-fs-m">Related Links</h2>
                {% if relatedLinks %}
                    {{ 
                        onsList({
                            "classes": "list--bare",
                            "itemsList": relatedLinks
                        })
                    }}
                {% endif %}
                {% if persistentLinks %}
                    {{ 
                        onsList({
                            "classes": "list--bare",
                            "itemsList": persistentLinks
                        })
                    }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
