{% extends "partials/_master.html" %}
{% from "components/card/_macro.njk" import onsCard %}
{% from "components/hero/_macro.njk" import onsHero %}

{% block page %}
    {{ 
        onsHero(homepage)
    }}
    <div class="page__container container u-pt-m">
        {% for highlight in highlights %}
            {% if loop.index % 3 == 1 %}
            <div class="grid grid--loose grid--column@xs@s u-mb-m@m">
            {% endif %}
                <div class="grid__col grid__col--loose col-4@m">
                    {{-
                        onsCard({
                            "ariaBy": 'Section highlight',
                            "id": highlight.id,
                            "textId": highlight.textId,
                            "title": highlight.title,
                            "url": highlight.url,
                            "text": highlight.text,
                            "itemsList": highlight.itemsList
                        })
                    }}
                </div>
            {% if loop.index % 3 == 0 or loop.last %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
