{% extends "partials/_master.html" %}
{% from "components/card/_macro.njk" import onsCard %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/promo-banner/_macro.njk" import onsPromoBanner %}

{% block pageContent %}
    <main id="main-content" role="main">

        {% set oldHomepageLayout = false %}

        {% if flexibleLayout %}

            {% include "partials/flexible.html" %}


        {% else %}

            {% set oldHomepageLayout = true %}

            {% include "partials/homepage.html" %}

        {% endif %}
        

        {% include "partials/footer.html" %}


    </main>
{% endblock %}
