{% extends "partials/_master.html" %}

{% from "components/call-to-action/_macro.njk" import onsCallToAction %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/card/_macro.njk" import onsCard %}

{% block pageContent %}
    {% if ctaContent is not null %}
        {{-
            onsCallToAction({
                "headingText": ctaContent.headingText,
                "paragraphText": ctaContent.paragraphText,
                "button": {
                    "text": ctaContent.text,
                    "classes": 'btn--small btn--link',
                    "url": ctaContent.url,
                    "attributes": {
                        "data-ga-element": 'cta-button'
                    }
                }
            })
        }}
    {% endif %}
    <div class="page__container container">
        {{ 
            onsBreadcrumb({
                "ariaLabel": 'Breadcrumb',
                "itemsList": breadcrumbs
            }) 
        }}
        <div class="grid u-mt-s@m">
            <div class="grid__col col-12@m">
                <main id="main-content" role="main" class="page__main {{ pageClasses }}">
                    <h1 class="u-mb-l u-fs-xxl">{{ title }}</h1>
                    {% if content %}
                        {% for contentBlock in content %}
                            <div class="col-8@m u-mb-l">
                                {{ contentBlock.mainBody | safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% for highlight in highlights %}
                        {% if loop.index % 3 == 1 %}
                        <div class="grid grid--column@xs@s u-mb-m@m">
                        {% endif %}
                            <div class="grid__col col-4@m">
                                {{-
                                    onsCard({
                                        "ariaBy": 'Section highlight',
                                        "id": highlight.id,
                                        "textId": highlight.textId,
                                        "title": highlight.title,
                                        "url": highlight.url,
                                        "text": highlight.text,
                                        "itemsList": highlight.itemsList,
                                        "attributes": {
                                            "data-ga-element": 'card'
                                        }
                                    })
                                }}
                            </div>
                        {% if loop.index % 3 == 0 or loop.last %}
                        </div>
                        {% endif %}
                        {% if highlight.includeRequestCode %}
                            <hr>
                            <div class="grid grid--gutterless">
                                <div class="grid__col col-8@m">
                                    <h2 class="u-fs-r--b u-mt-l u-mb-xs">{{ requestCode.title }}</h2>
                                    {{ requestCode.text | safe }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </main>
            </div>
        </div>
    </div>
{% endblock %}
