{% extends "partials/_master.html" %}

{% from "components/call-to-action/_macro.njk" import onsCallToAction %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/video/_macro.njk" import onsVideo %}
{% from "components/images/_macro.njk" import onsImage %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/quote/_macro.njk" import onsQuote %}
{% from "components/text-indent/_macro.njk" import onsTextIndent %}
{% from "components/timeline/_macro.njk" import onsTimeline %}
{% from "components/content-pagination/_macro.njk" import onsContentPagination %}
{% from "components/lists/_macro.njk" import onsList %}

{% import "partials/helpers.html" as helpers %}

{% block pageContent %}
    {% if not hideCta | length %}
        {% if ctaContent is not null %}
            {{-
                onsCallToAction({
                    "headingText": ctaContent.headingText,
                    "paragraphText": ctaContent.paragraphText,
                    "button": {
                        "text": ctaContent.text,
                        "classes": 'btn--small btn--link',
                        "url": ctaContent.url,
                        "attributes": {
                            "data-ga-element": 'cta-button'
                        }
                    }
                })
            }}
        {% endif %}
    {% endif %}
    <div class="page__container container">
        {{ 
            onsBreadcrumb({
                "ariaLabel": gStrings.bcrumb,
                "itemsList": breadcrumbs
            })
        }}

        <div class="grid u-mt-s">

            <div class="grid__col col-7@m">

                <main id="main-content" role="main" class="page__main u-mt-no {{ pageClasses }}">

                    <h1 class="u-mb-s u-mb-l@m u-fs-xxl">
                        {% if categories[0] %}
                            <span class="u-fs-m u-db u-mb-xs u-lighter">{{categories[0].text}}</span>
                            <span class="u-vh">: </span>
                        {% endif %}
                        <span class="u-fs-xxl u-db">{{ title }}</span>
                    </h1>

                    {% if thumbnail %}
                        <figure class="u-m-no u-mb-l">
                            <img
                                srcset="{{ thumbnail.transforms.smallSrc }}{{ thumbnail.transforms.filename }} 1x, {{ thumbnail.transforms.largeSrc }}{{ thumbnail.transforms.filename }} 2x"
                                src="{{ thumbnail.transforms.smallSrc }}{{ thumbnail.transforms.filename }}"
                                alt="{{ thumbnail.alt if thumbnail.alt else thumbnail.title }}"
                            />
                        </figure>
                    {% endif %}

                    <section class="page__body">
                        {% if content %}
                            {% for contentBlock in content %}
                                {% if contentBlock.body %}
                                    {{ contentBlock.body.content | safe }}
                                {% elif contentBlock.image %}
                                    {{ 
                                        onsImage({
                                            "url": '/' + contentBlock.image.url,
                                            "alt": contentBlock.image.altText,
                                            "caption": contentBlock.image.caption
                                        })
                                    }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </section>
                </main>

                {{-
                    onsContentPagination({
                        "contentPaginationItems": paginationItems
                    })
                }}

            </div>

            <div class="grid__col col-4@m push-1@m u-mt-m">

                <div class="related-links">

                    <div class="u-pb-s u-bb">
                        <h2 class="related-links__title u-fs-r--b u-mb-xs" id="related-links-published-on">Published on</h2>
                        <p><time datetime="{{published}}">{{published|date("DD MMMM YYYY", lang)}}</time></p>
                    </div>

                    <div class="u-pt-m u-pb-s u-bb">
                        <h2 class="related-links__title u-fs-r--b u-mb-xs" id="related-links-posted-in">Published in</h2>
                        <nav class="related-links__navigation" aria-labelledby="related-links-posted-in">
                        {{
                            onsList({
                                "classes": "list--bare",
                                "itemsList": categories
                            })
                        }}
                        </nav>
                    </div>

                    <div class="u-pt-m">
                        <h2 class="related-links__title u-fs-r--b u-mb-xs" id="related-links-tags">Tags</h2>
                        <nav class="related-links__navigation" aria-labelledby="related-links-tags">
                        {{
                            onsList({
                                "classes": "list--bare",
                                "itemsList": tags
                            })
                        }}
                        </nav>
                    </div>
                
                </div>

            </div>

        </div>

    </div>
{% endblock %}
